.p1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

.cons {
    color: black
    font-weight: 100;
    font-size: 44px;
    font-size:small;
    font:bold;
  }
  .con{
    background-color: green;
    color: white;
  }
